@import "tailwindcss";
@import "./utils/fonts.css";

.my-container {
  width: 100%;
  max-width: 1440px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0;

  @media (max-width: 1023px) {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
canvas {
  width: 100%;
  height: 100%;
}
@theme {
  --color-purple-main: rgba(var(--purple-main));
  --color-yellow-main: rgba(var(--yellow-main));
  --color-blue-main: rgba(var(--blue-main));
  --color-gray-main: rgba(var(--gray-main));
}


@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
  }

  html,
  body {
    min-height: 100%;
    max-width: 100%;
  }

  #root {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  h1,
  h3,
  h2,
  h4,
  h5 {
    font-weight: 700;
  }

  p {
    font-size: 16px;
    font-weight: 400;
  }
}